/* Header */
header {
  width: 100%;
  min-height: 400px;
  padding-top: 3em;
}
#home header {
  background:  no-repeat lightgrey url(images/cliff_ocean.jpg);
  background-size: 1500px;
}
#activities header {
  background:  no-repeat lightgrey url(images/runfly.jpg);
  background-size: 1500px;
}
#contact header {
  background:  no-repeat lightgrey url(images/cliff_rock.jpg);
  background-size: 1500px;
}
.main-header {
  background-color:rgb(255, 255, 255, 0.8);
  width: 700px;
  margin: 2em auto 0 auto;
  min-height: 100px;
  height: 100px;
}
.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

/* Navigation */
.main-menu {
  margin-left: 227px;
  font-weight: 400;
}
.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  text-transform: uppercase;
  font-size: 14px;
}
.main-menu ul li a {
  text-decoration: none;
  color: #888;
}
.main-menu ul li a:hover {
  color: #9ed034;
}
.main-menu ul li.active {
  background: #9ed034;
  border: none;
}
.main-menu ul li.active a {
  color: #fff;
}

/* Main */
main {
  padding: 4em 7% 2em 7%;
  font-family: Arial, Helvetica, sans-serif;
}
main h1,
main h2 {
  color: #9ed034;
  font-size: 2em;
  margin-bottom: 1.2em;
}
main h3 {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}
main p {
  font-size: 0.85em;
  line-height: 1.4em;
  margin-bottom: 2em;
}

/* Partners */
section {
  width: 100%;
  background-color: #4288C3;
}
section #partners {
  width: 1200px;
  padding: 2em 0 2em 0;
  margin: 0 auto;
  text-align: center;
}
section #partners .partner {
  display: inline-block;
  margin: 0 0.75em;
  padding: 1.3em 1.5em;
  background-color: #fff;
  border-radius: 50%;
}
section #partners .partner img {
  width: 90px;
  height: 90px;
}

/* Footer */
footer {
  width: 100%;
  height: 155px;
  padding-bottom: 1em;
  background-color: #ecfab8;
}
footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 3.5em 13em;
  float: left;
  font-size: 0.9em;
}
footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}
footer #disclaimer {
  clear: both;
}
footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}
footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
  background: #3B5998;
  color: white;
}

footer #nondisclaimer .social .fa-twitter {
  background: #55ACEE;
  color: white;
}

footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Activities */
table {
  width: 1000px;
  margin: 4em auto 0 auto;
}
caption {
  background: #852B1B;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}
thead {
  background: #BDE1FF;
}
tbody {
  background: #EEFFE6;
  text-align: center;
}
th,td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #852B1B;
}
th:first-child {
  width: 125px;
  height: 50px;
  background: #4977D1;
  color: #fff;
}
td:first-child {
  font-weight: bold;
  background: #BDE1FF;
}

/* Contact */
.contactinfo {
  margin-bottom: 1.5em;
  font-size: 0.85em;
}
.contactinfo span:first-child {
  font-weight: bold;
}
form fieldset {
  border: 1px solid #9ed034;
  margin: 0;
  padding: 0.5em 2em 1.5em 2em;
  font-size: 0.9em;
}
form legend {
  color: #4977D1;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0.5em;
}
form label {
  font-weight: bold;
}
form .textbox label {
  display: block;
  margin: 1em 0 0.3em 0;
}
form .textbox input {
  display: block;
  width: 50%;
  height: 22px;
  box-sizing: border-box;
}
form .radios,
form .selectmenu {
  margin-top: 1.5em;
}
form .selectmenu select {
  width: 120px;
  text-align: center;
}
form .commentbox label {
  display: block;
  margin: 1.5em 0 0.3em 0;
}
form .commentbox textarea {
  display: block;
  width: 50%;
  height: 160px;
  resize: none;
  box-sizing: border-box;
}
form .button {
  width: 50%;
  margin-top: 1em;
  text-align: right;
}
form .button input {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #4977D1;
  color: #fff;
  font-weight: bold;
}
